@charset "utf-8"

html, body {
	height: 100%;
	font-family: 'Public Sans', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
} 

.nav {
	background: darkblue;
	width: 100%;
	height: 60px;
	line-height: 60px;
}

.nav h1 {
	float: left;
}

.nav h1 a {
	text-decoration: none;
	color: white;
	margin-left: 170px;
	font-family: 'Sriracha', cursive;
}

.nav ul {
	float: right;

}

.nav ul li {
	text-decoration: none;
	list-style-type: none;
	display: inline-block;

}

.nav ul li a {
	text-decoration: none;
	color: white;
	padding: 25px;
	font-family: 'Open Sans', sans-serif;
}

.nav ul li :hover {
	background: #4853dc;
	transition: all ease-in-out 0.40s;
}

.hello {
	background: #4853dc;
}

.hello1 {
	background: #4853dc;
	height: 5px; 
}

.conntent-wrapper {
	width: 80%;
	margin: 4% 10% 5% 10%;
}

.content-wrapper img{
	width: 70%;
	display: block;
	margin: 0 auto;
}

.page-wrapper {
	min-height: 100%;
}

/* Footer */
.footer {
	background: #303036;
	color: #d3d3d3;
	height: 400px;
}

.footer .footer-content {
	border: 1px solid red;
	height: 350px;
}

.footer .footer-bottom {
	background: #343a40;
	color: #686868;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
}

.container{
	font-family: Arial;
	padding: 10px 170px;
	background: #f1f5f0;

}
.form{
	margin: auto;
	width: 30%;
}
.header{
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item{
	padding: 10px;
	display: flex;
	align-items: center;
	width: 800px;
}
.column-input{
	width: 300px;
}
button	{
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}
.btn-back{
	background-color: lightgreen;
	cursor: pointer;
}
.btn-back:hover{
	background-color: darkgreen;
	color: white;
}
.btn-save{
	background-color: lightblue;
	cursor: pointer;
}
.btn-save:hover{
	background-color: blue;
	color: white;
}

.input-group{
	padding: 10px;
}

.input-group label{
	font-weight: bold;
}
.input-group input{
	width: 100%;
	border: none;
	border-bottom: 2px solid purple;
	border-radius: 5px;
	padding: 10px;
}
.profile-data{
	width: 50%;
	margin: 30px auto;
	font-family: Arial;
}
.name-group{
	width: 100%;
	display: flex;
}

.subject {
	
	width: 100%;
	height: 60px;
	line-height: 60px;
}
.profile-image {

	width: 30px;
	height: 30px;
	
}